<div *ngFor="let eachFarm of farm" class="container">
    <div class="row">
        <div  class="col-md-6 col-xl-12">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-2">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="col-7 align-self-left mb-0">
                        <h5>Fazenda {{eachFarm?.name}}</h5>
                    </div>
                    <div class="col-2 btn-group btn-sm" role="group">
                        <a href="#" class="btn btn-primary tooltips" data-placement="right" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a href="#" class="btn btn-secondary tooltips" data-placement="right" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="col-1">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

