
<!-- Edit farm modal -->
<!-- <div class="modal-header">
  <h5 class="modal-title" id="editFarmModalLabel">Editar nome da fazenda</h5>
  <button type="button" class="btn-close" (click)="closeEditModal()"></button>
</div>
<div class="modal-body">
    <form #editForm="ngForm">
        <input type="text" ngModel="{{ farm?.name }}" name="name" id="name"  placeholder="*Novo nome da fazenda">
        <input type="hidden" ngModel="{{ farm?.id }}" name="name" id="name"  placeholder="*Novo nome da fazenda">
    </form>
</div>
<div class="modal-footer">
  <button (click)="closeEditModal()" type="button" class="btn cancel-btn">Cancelar</button>
  <button (click)="onUpdateFarm(editForm.value)" type="button" class="btn confirm-btn">Salvar</button>
</div> -->

<div class="modal-header">
  <h5 class="modal-title" id="editFarmModalLabel">Editar nome da fazenda</h5>
  <button type="button" class="btn-close" (click)="closeEditModal()"></button>
</div>
<div class="modal-body">
    <form #editForm="ngForm">
        <input type="text" ngModel name="name" id="name"  placeholder="*Novo nome da fazenda">
        <input type="hidden" ngModel="{{ farm.id }}" name="id" id="id">
    </form>
</div>
<div class="modal-footer">
  <button (click)="closeEditModal()" type="button" class="btn cancel-btn">Cancelar</button>
  <button (click)="saveEdition(editForm.value)" type="button" class="btn confirm-btn">Salvar</button>
</div>