<ul class="list-group">
    <div *ngFor="let farm of farms" class="container">
      <li class="list-group-item">
        <div class="col-xl-12">
            <div class="row align-items-center d-flex">
                <div class="col-2">
                    <i class="fa fa-home"></i>
                </div>
                <div class="col-8 mb-0">
                    <h5>Fazenda {{farm?.name}} {{farm?.id}}</h5>
                </div>
                <div class="col-2 btn-group btn-sm" role="group">
                    
                    <a href="#" class="btn tooltips" (click)="openEditModal(farm.id)"><i class="fa fa-pencil"></i> </a>
                    
                    <a href="#" class="btn tooltips" data-placement="right" data-toggle="tooltip" data-original-title="Delete" 
                    data-bs-toggle="modal" data-bs-target="#deleteFarmModal"><i class="fa fa-times"></i></a>
                    
                    <a href="#" class="btn tooltips" data-placement="right" data-toggle="tooltip" data-original-title="List"
                    data-bs-toggle="modal" data-bs-target="#listFarmModal" routerLink="/glebes"><i class="fa fa-arrow-right"></i> </a>
                
                </div>
            </div>
        </div>
      </li>
    </div>
    </ul>