<nav class="navbar navbar-expand-lg navbar-light">
    <div class="col-9">
        <strong>Fazendas</strong>
    </div>
    <button type="button" class="btn confirm-btn" style="width: 20%" data-bs-toggle="modal" data-bs-target="#addFarmModal">
        + Nova fazenda
    </button>
</nav>

<hr>
    
<!-- Add farm modal -->
<div class="modal fade" id="addFarmModal" tabindex="-1" aria-labelledby="addFarmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="addFarmModalLabel">Adicionar nova fazenda</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddFarm(addForm)">
            <input type="text" name="name" id="name" ngModel
            placeholder="*Nome" required #name="ngModel">
            <div>
                <span class="help-block" style="padding: 3px;" *ngIf="!name.valid && name.touched">Por favor, insira um nome válido!</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-btn" data-bs-dismiss="modal" id="add-farm-btn">Cancelar</button>
                <button type="submit" class="btn confirm-btn" >Salvar</button>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>


<ul class="list-group">
    <div *ngFor="let farm of farms" class="container">
      <li class="list-group-item">
        <div class="col-xl-12">
            <div class="row align-items-center d-flex">
                <div class="col-2">
                    <i class="fa fa-home"></i>
                </div>
                <div class="col-8 mb-0">
                    <h5>Fazenda {{farm?.name}} {{farm?.id}}</h5>
                </div>
                <div class="col-2 btn-group btn-sm" role="group">
                    
                    <a href="#" class="btn tooltips" (click)="openEditModal(farm.id)"><i class="fa fa-pencil"></i> </a>
                    
                    <a href="#" class="btn tooltips" data-placement="right" data-toggle="tooltip" data-original-title="Delete" 
                    data-bs-toggle="modal" data-bs-target="#deleteFarmModal"><i class="fa fa-times"></i></a>
                    
                    <a href="#" class="btn tooltips" data-placement="right" data-toggle="tooltip" data-original-title="List"
                    data-bs-toggle="modal" data-bs-target="#listFarmModal" routerLink="/glebes"><i class="fa fa-arrow-right"></i> </a>
                
                </div>
            </div>
        </div>
      </li>
    </div>
    </ul>